<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Palliviske võistlus</title>
</head>
<body>
    <h1>Palliviske võistlused</h1>
    <hr>
    <h2>Võistlejate kolm parimat tulemust</h2>
    <ul>
        <li>1. KOHT: võistleja nr <%= bestParticipants[0].participant_number %>, tulemus: <%= bestParticipants[0].best_result.toFixed(3) %> m.</li>
        <li>2. KOHT: võistleja nr <%= bestParticipants[1].participant_number %>, tulemus: <%= bestParticipants[1].best_result.toFixed(3) %> m.</li>
        <li>3. KOHT: võistleja nr <%= bestParticipants[2].participant_number %>, tulemus: <%= bestParticipants[2].best_result.toFixed(3) %> m.</li>
    </ul>

    <h2>Lisa võistleja visketulemus</h2>

    <form method="post">
        <label for="participantNumInput">Osaleja number</label>
        <input type="number" name="participantNumInput" id="participantNumInput" placeholder="123 ..." required>
        <br>

        <label for="dateInput">Viske kuupäev</label>
        <input type="date" name="dateInput" id="dateInput" required>
        <br>

        <label for="throwDistanceInput">Viskekaugus (meetrites)</label>
        <input type="number" step="0.001" name="throwDistanceInput" id="throwDistanceInput"  required>
        <br>

        <input type="submit" name="throwSubmit" value="Salvesta">
    </form>
    <p><%= locals.notice || 'Ootel!' %></p>
    <hr>

</body>

</html>